<div class="row text-center">

<% @items.sort.each do |item| %>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <%= image_tag item.picture, height: "200px;" %>
        <div class="card-body">
          <h4 class="card-title"><%= item.title %></h4>
          <p class="card-text"><%= item.description %></p>
          <p class="card-text"><%= item.price %></p>
        </div>
        <div class="card-footer">
          <% if @admin %>
            <%= link_to "Plus d'informations ?", item_path(item.id), class:"btn btn-outline-info mx-1 my-1" %>
            <%= link_to 'Editer', edit_item_path(item.id), class:"btn btn-outline-success mx-1 my-1" %>
            <%= link_to 'Destroy', item.id, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger mx-1 my-1" %>
          <% else %>
            <%= link_to "Plus d'informations ?", item_path(item.id), class:"btn btn-outline-info mx-1 my-1" %>
          <% end %>
        </div>
        <%= link_to 'Ajouter au panier', cart_url(item, 1), method: "PUT", class:"btn btn-outline-info mx-1 my-1" %>
      </div>
    </div>
<% end %>

</div>







