<div class="row text-center">

<% @items.sort.each do |item| %>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <%= image_tag item.picture, height: "200px;" %>
        <div class="card-body">
          <h4 class="card-title"><%= item.title %></h4>
          <p class="card-text"><%= item.description %></p>
          <p class="card-text">Prix : <%= item.price %> €</p>
        </div>
          <% if user_signed_in? %>
            <%= link_to "Plus d'informations ?", item_path(item.id), class:"btn btn-outline-info mx-1 my-1" %>
            <%= link_to 'Ajouter au panier', cart_url(item, 1), method: "PUT", class:"btn btn-outline-info mx-1 my-1" %>
          <% end %>
      </div>
    </div>
<% end %>

</div>
